*{
    background-color: rgb(7, 10, 10)  ;
    color: rgb(153, 152, 152);
    margin: 0;
    padding: 0;
}

.navTabs {
    /* display: flex; */
    background-color: rgb(25, 40, 43);
    font-weight: 100;
    height: 3rem;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
}


.logo {
    color:rgb(170, 218, 218);
    /* outline-offset: black; */

    font-weight: 200;
    font-size: 1.5em;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2);
}

.nav_right {
    float: right;
    /* color:rgb(49, 102, 109); */
}

.quote{
    padding: 2rem;
    background-color: rgba(97, 96, 96, 0.2);
    box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2);
    /* box-sizing: border-box; */
}

/* .portfolio {
    word-wrap: inherit;
} */

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#about_me {
    background-color: rgba(97, 96, 96, 0.2);
    padding: 1rem;
    font-size: 0.9rem;
    box-shadow: 0 0 20px 10px rgba(97, 96, 96, 0.2);
}


section {
    display: block;
    padding: 2rem;
}